.blog-articles-container{
  display:grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding: 1.25rem 6rem;
  margin-left:auto;
  margin-right: auto;
  gap: 2.5rem;
  max-width: 1400px;
}

.blog-article-card{
  grid-column: span 1/span 1;
}

.blog-article-image{
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}