section{
  padding: 2rem 0 5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-articles-container{
  display:grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding: 2.5rem 3rem;
  /* margin-left:auto;
  margin-right: auto; */
  gap: 2.5rem;
  max-width: 1280px;
  width:100%;
}

.blog-article-card{
  grid-column: span 1/span 1;
}

.blog-link{
  overflow:hidden;
  width: 100%;
  display:block;
}

.blog-article-image{
  width: 100%;
  /* max-width: 350px; */
  height: auto;
  border-radius: .5rem;
  border: 1px solid #e5e7eb;
  margin-bottom:1rem;
}

.blog-article-card h2{
  font-family: var(--body-text);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  margin:0;
}

.blog-article-content{
  margin: 0 1rem .5rem 1rem;
}

.blog-article-card-author{
  color: rgb(63 63 70);
  font-weight: 600;
  font-size: 1.15rem;
  margin: 0 1rem;
}

.blog-article-info{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  font-size:.875rem;
  line-height: 1.25rem;
  color: rgb(113 113 112);
  margin: 0.3rem 1rem;
}

.read-icon{
  height: 1rem;
  width: 1rem;
  fill: currentColor;
  margin-right: .5rem;
}

/* Media Queries for Grid Layout*/

@media screen and (max-width: 1084px){
  .blog-articles-container{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding: 2.5rem 1rem;
  }
}


@media screen and (max-width: 975px){
  .blog-articles-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding: 2.5rem 1rem;
  }
}

@media screen and (max-width: 768px){
  .blog-articles-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    padding: 1rem;
  }
}


@media screen and (max-width: 640px){
  .blog-articles-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    padding: 1rem;
  }
}