@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url("https://use.typekit.net/oio2onf.css");

:root{
  --dark-blue: #1A3651;
  --dark-blue-300: #385876;
  --light-gray: #EAECEF;
  --teal: #45C4B0;
  --purple: #955695;
  --body-text: "Barlow Semi Condensed", sans-serif;
  --heading-text: "chainprinter", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
font-size: 62.5% /* using rem for font*/
}

body{
  font-size: calc(1em + 1vw);
  font-family: var(--body-text);
  background-color: var(--dark-blue);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3 ,h4 {
  font-family: var(--heading-text);
  font-weight: 400;
  font-style: normal;
  color: var(--dark-blue);
}

a {
  text-decoration: none;
}

a:visited {
  /* color: var(--teal); */
}

a:focus {
  border-bottom: #fff;
}

:focus-visible{
  outline: 1px dashed var(--teal);
}

a:active {
  color: var(--teal);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-right: 1rem;
}

nav > ul > li{
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--body-text);
  font-size: 1.8rem;
  font-weight: 600;
  list-style-type: none;
  padding: 1.2rem;
  margin: 1rem;
  transition: transform 2ms ease;
  cursor: pointer;
  align-items:center;
}

nav > ul > li:hover{
  transform: scale(1.2);
}

.more{
  margin-left: 5px;
  display: inline-block;
  animation: 0.2s 1 normal forwards running more;
}

@keyframes more{
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(180deg);
  }
}

.drop-down-two {
  transition: 0.2s ease-in;
}
.drop-down-two:hover > .animate{
  margin-left: 5px;
  animation: 0.4s 1 normal forwards running more;
  scale: 1;
}

.nav-dropdown{
  /* Add in dropdown menu */
  display: none;
}

nav svg.icon{
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1em;
  line-height: 100%;
  overflow: visible;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
}

section.hero{
  background-color: var(--light-gray);
  color: var(--dark-blue);
  margin: 0.7rem 2rem;
  height: 700px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow:
  12.5px 12.5px 17.2px -38px rgba(0, 0, 0, 0.025),
  100px 100px 137px -38px rgba(0, 0, 0, 0.05);
}

/* Title-section Styling */
.title-section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 80%;
  width: 100%;
  /* Take out for prod */

}

.title-section h1{
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 0;
}

.title-section h2 {
  font-size: 1.2em;
  color:var(--dark-blue-300);
  letter-spacing: -1px;
}

.title-section > .dots{
  position: absolute;
  bottom: 7rem;
}

button{
  display: inline-block;
  position: relative;
  display: flex;
  align-self: flex-end;
  font-size: 2rem;
  margin-right: 10rem;
  padding: 1rem 1rem;
  border: none;
  background: none;
}

button::before, button::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--dark-blue-300);
}

.explore-button::before, .explore-button::after{
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--dark-blue-300);
}

button:hover::before,
button:hover::after{
  width: 100%;
}

button:hover span::before, button:hover span::after{
  height: 100%;
}

.btn-1::after{
  left:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-1 .explore-button::after{
  right:0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-1::before{
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-1 .explore-button::before{
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.explore-button{
  display: flex;
  align-self: flex-end;
  color: var(--dark-blue);
  /* Take out for prod */
  transition: transform 0.2s ease;
}

.explore-button:hover{
  transform: scale(1.2);
}

.explore-button svg {
  margin-left: 0.8em;
  color: var(--dark-blue);
}

.animation{
  transition: all .2s linear;
}





/* Testimonials Section */

.testimonial-container{
  color: var(--dark-blue);
  background-color: var(--light-gray);
  border-radius: 1rem;
  margin: 1.2rem auto;
  padding: 5rem 8rem;
  max-width: 80vh;
  position: relative;
  box-shadow: 0 0 0.5rem rgb(76, 66, 76, 0.5);
}

.fa-quote{
  color: rgba(26,54,81, 0.6);
  font-size: 2.8rem;
  position: absolute;
  top: 70px;
}

.fa-quote-right{
  left: 40px;
}

.fa-quote-left{
  right: 40px;
}

.testimonial{
  line-height: 2.8rem;
  text-align: justify;
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image{
  border-radius: 50%;
  height: 7.5rem;
  width: 7.5rem;
  object-fit: cover;
}

.user .user-details{
  margin-left: 1rem;
}

.user .username{
  margin: 1rem;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
  font-size: 1.5rem;
}


.progress-bar {
  background-color:var(--teal);
  height: 4px;
  width: 100%;
  /* Box will change every 10 sec */
  animation: grow 10s linear infinite;
  /* Positions the animation to start from left */
  transform-origin: left;
}

@keyframes grow{
  0% {
    transform: scaleX(0);
  }
}

@media(max-width: 768px){
  .fa-quote {
    display: none;
  }
  .testimonial-container{
    max-width: 50vh;
    padding: 1rem 3rem;
  }
  .user .role{
    margin: 2px 0;
  }
  .testimonial{
    line-height: 1.8rem;
    text-align: justify;
  }
}