:root{
  --responsive-font-size-primary: min(1.8rem, max(0.5rem, 5vmin));
}

/* Explore page */
nav.explore-nav{
  position: sticky;
  top: 0;
  z-index: 10;
  padding-bottom:1rem;
  /* box-shadow: 0 0 0.5rem rgb(76, 66, 76, 0.5); */
}

.top-blue {
  box-shadow: 0 0 0.3rem rgb(76, 66, 76, 0.5);
  /* clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 100px)); */
  background-color: var(--dark-blue-500);
  height: 32rem;
  width: 100%;
  position: relative;
  z-index: -100;
}

.hex-pattern{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -100;
  filter: alpha(opacity=50);
  opacity: 0.05;
  --s: 17px; /* control the size */
  --c:#0000,#1a3651 .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    #93bdea;
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.top-blue h1{
  font-size: 2.6rem;
  color: var(--grey-100);
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  width: 60%;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
    transform: translateY(100%);
  }
  100% {
    opacity:1;
  }
}
.icon-style-container{
  width: 100%;
  position: absolute;
  bottom: 5rem;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-style-container::after{
  content: '';
  position: absolute;
  bottom:0;
}

.icon-style-container svg {
  width: 175px;
  height: 90px;
}

.icon-fade-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

section{
  margin-left: 2rem;
  margin-right: 2rem;
}

#video-section{
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
}

.services h2 {
  position: relative;
}

.video-section h2::before, .design-section h2::before{
  content: "";
  position: absolute;
  width: 20rem;
  height: 5px;
  transform-origin: bottom;
  background: var(--lt-blue-100);
  bottom: -8px;
  z-index: -1;
  transform: skew(-20deg) rotate(var(--rotate)) scaleX(var(--scaleX));
}

.video-example{
  position:relative;
  padding-top: 1.8rem;
}


.video-section p{
  font-size: 1.2rem;
}


/* Media Scroller */

.media-scroller{
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2); */
  --size-3: 1rem;
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  /* Took out to be able to control width of each card */
  /* grid-auto-columns: 52%; */
  padding: var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller-title{
  margin: 1rem;
}

.media-scroller-header{
  width: 100%;
  display:flex;
  justify-content: end;
}

.media-scroller-icons{
  display: flex;
  gap: 0.5rem;
}


.media-scroller-icon {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 42, 51);
}

.media-scroller-icon {
  cursor: pointer;
  margin: 0px;
  pointer-events: auto;
  font-family: "Inter", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-size: 14px;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ADADB6;
  transition-property: background-color, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.media-scroller-icon:hover{
  background-color: rgb(238,238,240);
  border-color:rgb(173,173,182);
  color: rgb(42,42,51);
}

svg.chevron-right{
  height: 16px;
  width: 16px;
  rotate: -90deg;
}

svg.chevron-left{
  height: 16px;
  width: 16px;
  rotate: 90deg;
}

.media-element{
  --shadow-color: 220 40% 2%;
  --shadow-strength: 10%;
  display: grid;
  grid-template-rows: min-content;
  /* grid-auto-columns: 100%; */
  gap: var(--_spacer);
  margin: 0 0 1rem 0;
  padding: 0 0 1.7rem 0;
  background: var(--dark-blue-500);
  color: var(--grey-100);
  border-radius: 24px;
  box-shadow: 0 3px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 7px 14px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%));
  max-width: 615px;
  min-width: 615px;
  z-index:1;
  overflow:hidden;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 /9;
  object-fit: cover;
}

.media-element > iframe{
  object-fit: contain;
  width: 100%;
  aspect-ratio: 16 /9;
  /* min-height: 100%; */
  border-radius: 16px;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 16px; */
}
/* 
.media-element > iframe {
  inline-size: 100%;
  aspect-ratio: 16 /9;
  object-fit: cover;
} */
.media-element > iframe ~ p{
  margin:0;
}

.media-element p{
  padding-left: 1rem;
}

.media-element > .sub-title{
  font-size: 1.15rem;
  padding-left: 1.5rem;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}


@media (prefers-reduced-motion: no-preference) {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  transition: outline-offset .25s ease;
}

/* End Media Scroller */

.design-section{
  padding-top: 1.5rem;
}

.design-section h2::before{
  width: 9rem;
}

/* Before and After Examples  */
.before-after-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.before-section, .after-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.before-section-horizontal, .after-section-horizontal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.before-section-horizontal{
  width:30%;
}
.after-section-horizontal{
  width: 45%;
}

h3.before-title{
  color: var(--red);
  font-size: 1.563rem;
}


h3.after-title{
  color: var(--green);
  font-size: 1.563rem;
}



.before-image, .after-image{
  width: 100%;
  /* height: auto; */
  max-width: 85%;
  
}

/* TODO:adjust size and padding */

.divider{
  display: inline-flex;
  align-self: center;
  border-left: 2px solid var(--grey-200);
  height: 550px;
  margin: 0 1rem;
}

.divider-horizontal{
  display: inline-flex;
  align-self: center;
  border-left: 2px solid var(--grey-200);
  height: 350px;
  margin: 0 1rem;
}


/* TODO: Media Queries for Explore page */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .top-blue{
    height: 30rem;
  }
  .top-blue h1{
    padding-top: 7rem;
    font-size: 2rem;
    width: 100%;
  }
  .icon-style-container svg {
    width: 100px;
    height: 50px;
  }
  .video-section h2 {
    font-size: 1.953rem;
  }
  .video-section h3 {
    font-size: 1.563rem;
  }
  .video-section h2::before {
    width: 16rem;
  }

}

/* Services page styling end */