:root{
  --responsive-font-size-primary: min(1.8rem, max(0.5rem, 5vmin));
}

/* Explore page */
nav.explore-nav{
  position: sticky;
  top: 0;
  z-index: 10;
  /* box-shadow: 0 0 0.5rem rgb(76, 66, 76, 0.5); */
}

.top-blue {
  box-shadow: 0 0 0.3rem rgb(76, 66, 76, 0.5);
  /* clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 100px)); */
  background-color: var(--dark-blue);
  height: 32rem;
  width: 100%;
  position: relative;
  z-index: -100;
}

.hex-pattern{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -100;
  filter: alpha(opacity=50);
  opacity: 0.05;
  --s: 17px; /* control the size */
  --c:#0000,#1a3651 .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    #93bdea;
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

.top-blue h1{
  font-size: 2.6rem;
  color: var(--gray-100);
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  width: 60%;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
    transform: translateY(100%);
  }
  100% {
    opacity:1;
  }
}
.icon-style-container{
  width: 100%;
  position: absolute;
  bottom: 5rem;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-style-container::after{
  content: '';
  position: absolute;
  bottom:0;
}

.icon-style-container svg {
  width: 175px;
  height: 90px;
}

.icon-fade-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#video-section{
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
}

.services h2 {
  position: relative;
}

.video-section h2::before, .design-section h2::before{
  content: "";
  position: absolute;
  width: 20rem;
  height: 5px;
  transform-origin: bottom;
  background: var(--lt-blue);
  bottom: -8px;
  z-index: -1;
  transform: skew(-20deg) rotate(var(--rotate)) scaleX(var(--scaleX));
}

.video-example{
  position:relative;
  padding-top: 1.8rem;
}

.video-section p{
  font-size: calc(1rem + 0.5vw);
}


/* Media Scroller */

.horizontal-media-scroller {
  --size: 150px;
  --gap: 2rem;

  display: grid;
  grid-auto-flow: column;
  gap: calc(var(--gap) / 2);
  margin: 0;

  padding-inline-start: var(--gap);
  padding-inline-end: var(--gap);
  padding-block-start: calc(var(--gap) / 2);
  padding-block-end: calc(var(--gap) / 2);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-left: var(--gap);
  scroll-padding-right: var(--gap);
  scroll-padding-inline: var(--gap);
}
@media (prefers-reduced-motion: no-preference) {
  scroll-behavior: smooth;
}

.horizontal-media-scroller > li {
  display: inline-block;
}
 /*  container padding fix  */
.horizontal-media-scroller > li:last-of-type figure {
  position: relative;
}
.horizontal-media-scroller > li:last-of-type figure::after {
  content: "";
  position: absolute;

  inline-size: var(--gap);
  block-size: 100%;

  inset-block-start: 0;
  inset-inline-end: calc(var(--gap) * -1);
}
.horizontal-media-scroller > li:last-of-type figure::after figure {
    scroll-snap-align: start;
}
.horizontal-media-scroller > li:last-of-type figure::after figure a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline-offset: 12px;
}
.horizontal-media-scroller > li:last-of-type figure::after figure a:focus {
      outline-offset: 7px;
}

@media (prefers-reduced-motion: no-preference) {
  transition: outline-offset .25s ease;
}

/* Second Media Scroller */

.media-scroller{
  --size-3: 1rem;
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element{
  --shadow-color: 220 40% 2%;
  --shadow-strength: 10%;
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--dark-blue);
  color: var(--gray-100);
  border-radius: 5px;
  box-shadow: 0 3px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 7px 14px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%));
}

/* End Media Scroller */

.design-section{
  padding-top: 1.5rem;
}

.design-section h2::before{
  width: 9rem;
}

/* TODO: Media Queries for Explore page */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .top-blue{
    height: 30rem;
  }
  .top-blue h1{
    padding-top: 7rem;
    font-size: 2rem;
    width: 100%;
  }
  .icon-style-container svg {
    width: 100px;
    height: 50px;
  }
  .video-section h2 {
    font-size: 1.953rem;
  }
  .video-section h3 {
    font-size: 1.563rem;
  }
  .video-section h2::before {
    width: 16rem;
  }

}

/* Services page styling end */