@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url("https://use.typekit.net/oio2onf.css");

/* General */
:root{
  --lt-grey: #fafafa;
  --grey-100: #EAECEF; 
  --grey-200: #dee2e6;
  --lt-blue: #c9def5;
  --lt-blue-100: #93bdea;
  --lt-blue-200:#6981B5;
  --med-blue: #526fa7;  
  --med-blue-100:#758cb9;
  --dark-blue-300: #385876;
  --dark-blue-500: #1A3651;
  --teal-100:#77D4C5;
  --teal: #45C4B0;
  --green: #317B22;
  --purple: #955695;
  --red: #E94F37;
  --orange-100: #F19A3E;
  --orange-300: #DD6031;
  --yellow: #F9DB6D;



  --body-text: "Barlow Semi Condensed", sans-serif;
  --heading-text: "chainprinter", sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --rotate: -2deg;
  --scaleX: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body{
  font-size: 1.2rem;
  background-color: var(--lt-grey);
  /* font-size: calc(1rem + 0.8vw);  */
  font-family: var(--body-text);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* max-height:100vh; */
}

h1, h2, h3 ,h4 {
  font-family: var(--heading-text);
  font-weight: var(--fw-reg);
  font-style: normal;
  line-height: 1.3;
  color: var(--dark-blue-500);
}

h1 {font-size: 3.052rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}

p{
  display: block;
  font-size: 1.3rem;
  line-height: 1.7;
  padding: 1rem 0;
  letter-spacing: 0.1px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}


:focus-visible{
  outline: 1px dashed var(--teal);
}

a:active {
  color: var(--teal);
}

img{
  font-style: italic;
}

img, video {
  max-inline-size: 100%;
  vertical-align: middle;
}

/* a:visited {
  color: var(--teal);
} */

a:focus {
  border-bottom: #fff;
}

body.main{
  background-color: var(--lt-grey);
  position: relative;
}

body.main:focus-visible{
  outline: 1px dashed var(--purple);
}


.center{
  text-align: center;
}

.dark-blue-500{
  background-color: var(--dark-blue-500);
  color: var(--grey-100);
}


span[class~="sr-only"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  margin: -1px;
}

section{
  margin-left: 2rem;
  margin-right: 2rem;
}

/* TODO: add in arrow for navigation to top when not in mobile view */
/* End of General Styling */

/* Mobile Nav */

.mobile-nav-open-btn{
  position: fixed;
  top: 1.8rem;
  left: 2.5rem;
  color: var(--dark-blue-500);
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  z-index: 100;
  transition: color 200ms ease-in;
}
.nav-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.mobile-nav-open-btn:hover{
  color: var(--med-blue);
}

.open-btn-dk-bg{
  position: fixed;
  mixed-blend-mode:difference;
  top: 1.8rem;
  left: 2rem;
  z-index: 100;
  color: var(--lt-blue-100);
  transition: color 0.3s ease-in-out;
}
/* 
.open-btn:hover{
  color: var(--med-blue-100);
} */

.open-btn-dk-bg:hover{
  color: var(--lt-blue);
}

.close-btn{
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  color: var(--lt-blue-100);
  opacity: 0.8;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.close-btn:hover{
  opacity: 1;
  transform: scale(1.2);
}



.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.hidden{
  display: none;
}

.nav.visible{
  transform: translateX(0);
}

.nav-med-blue a > .logo{ 
  width: 12rem;
  padding-top: 1.2rem;
}

.nav-purple{
  background-color: var(--purple);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
  z-index:200;
}

.nav-purple.visible{
  transition-delay: 0s;
}

.nav-teal{
  background-color: var(--teal);
  width: 95%;
  transition-delay: 0.2s;
}

.nav-teal.visible{
  transition-delay: 0.2s;
}

.nav-med-blue{
  background-color: var(--dark-blue-500);
  width: 95%;
  padding: 1.6rem;
  position: relative;
  transition-delay: 0s;
}

.nav-med-blue.visible{
  transition-delay: 0.4s;
}

.list {
  list-style-type: none;
  padding: 0.5rem 0 0 0;
}

.list ul {
  list-style-type: none;
  padding-left: 1.2rem;
}

.list li {
  margin: 1rem;
  text-transform:uppercase;
}

.list li a{
  display:block;
  color: #f8f9fa;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform .2s ease-in-out, color 0.3s ease-in-out;
}

.list li a:hover{
  transform: scale(1.2) translate(5%);
  transform-origin: center;
  color: var(--teal-100);
}

/* End Mobile Nav Styling */

/* Main Navigation  */

header{
  width: 100%;
}

header a img{
  width: 300px;
}

header .wc-logo{
  padding: 5px;
  margin-top: 2px;
  width: 200px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}

nav .logo{
  margin-left: 2rem;
  padding: 0;
  width: 23%;
}

nav > ul{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 75%;
  padding: 0 0 0 0.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  margin-left:1.5rem;
  z-index: 10;
}

nav > ul > li, .nav-list-item{
  color: var(--dark-blue-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--body-text);
  font-size: 1.2rem;
  font-weight: 600;
  list-style-type: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem 0.25rem;
  transition: transform .2s ease-in, color 0.3s ease-in;
  cursor: pointer;
}

nav.dark-blue-500{
  margin-bottom: 0;
  padding-top: 2rem;
}
nav.dark-blue-500 > ul > li{
  color: var(--grey-100);
}

nav > ul > li:hover{
  transform: scale(1.2);
  color: var(--med-blue);
}

nav.dark-blue-500 > ul > li:hover{
  color: var(--lt-blue-100);
}

nav svg.icon{
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 100%;
  overflow: visible;
  display: inline-block;
  transition: all 0.3s ease-in;
}

.more{
  margin-left: 5px;
  display: inline-block;
  animation: 0.2s 1 normal forwards running more;
}

@keyframes more{
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(180deg);
  }
}

/* Navigation  Dropdown  */
.drop-down:hover > .animate{
  margin-left: 5px;
  animation: 0.4s 1 normal forwards running more;
  scale: 1;
}

.nav-dropdown{
  /* Add in dropdown menu */
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.8rem;
  left:0;
  top: 2.5rem;
  border-radius: 0.25em;
  background-color: #fff;
  color: var(--dark-blue-500);
  box-shadow: 0 0 0.5rem rgb(76, 66, 76, 0.5);
  width: 10rem;
  visibility: hidden;
}

.nav-dropdown ul {
  padding-inline-start: 0.5rem;
}

.nav-dropdown > ul > li{
  padding: 0.3rem 0;
  letter-spacing: 0;
}

.nav-dropdown.visible{
  visibility: visible;
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.nav-dropdown li{
  font-size: 1.1rem;
  position:relative;
  display: inline-block;
  transition: scale 0.2ms ease-in;
}

.nav-dropdown li:hover::after{
  --link-color: 102, 153, 255;
  content:"";
  display:block;
  position: absolute;
  width: 100%;
  height: 0.2rem;
	bottom: 0rem;
  /* Gradient */
  background-image: linear-gradient(
		to right,
		transparent 0%,
		rgba(var(--link-color), .6) 30%,
		rgba(var(--link-color), .7) 50%,
		rgba(var(--link-color), .6) 70%,
		transparent 100%
	);
  /* Set-up fade-in animation */
	opacity: 0;
	animation: fadeUnderlineIn 400ms ease-out forwards;
}

.dropdown{
  color: var(--dark-blue-500);
  font-family: var(--body-text);
}

/* Navigation Style End */

.home{
  display: flex;
  flex-direction: column;
}

/* Hero Carousel */
.hero{
  position:relative;
  background-color: var(--grey-100);
  color: var(--dark-blue-500);
  margin: 0.7rem;
  width: 100%;
  max-width: 900px;
  height: 68vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  box-shadow:
  12.5px 12.5px 17.2px -38px rgba(0, 0, 0, 0.025),
  100px 100px 137px -38px rgba(0, 0, 0, 0.05);
  border-radius: 1.25rem;
}

/* Main page Title-section Styling */
.title-section{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding-bottom: 5rem;
  height: 80%;
  width: 100%;
}

.title-section h1{
  font-size: 3.2rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0;
}

.title-section h2 {
  font-size: 1.3rem;
  color:var(--dark-blue-300);
  letter-spacing: -1px;
}

.title-section{
  overflow: hidden;
}
.carousel-container {
  position:relative;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img.carousel-img{
  display: none;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 1rem;
  color: var(--dark-blue-300);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 100;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  position: absolute;
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--med-blue);
  color: var(--grey-100);
}

.dot-container{
  position: absolute;
  bottom: 5rem;
}
.dot {
  cursor: pointer;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 2px;
  background-color: var(--teal);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: var(--dark-blue-500);
}

button.btn-1{
  display: flex;
  position: absolute;
  bottom: 2.2rem;
  align-self: end;
  margin-right: 6rem;
  padding: 0.7rem 0.5rem;
  border: none;
  background: none;
}

button.btn-1::before, button.btn-1::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--lt-blue-100);
}

.explore-button::before, .explore-button::after{
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--lt-blue-100);
}

button:hover::before,
button:hover::after{
  width: 100%;
}

button:hover span::before, button:hover span::after{
  height: 100%;
}

.btn-1::after{
  left:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-1 .explore-button::after{
  right:0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-1::before{
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-1 .explore-button::before{
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.explore-button{
  font-family:var(--body-text);
  font-weight: 600;
  font-size: 1.6rem;
  display: flex;
  align-self: flex-end;
  color: var(--dark-blue-500);
  transition: transform 0.2s ease;
  padding: 0.3rem;
}

.explore-button svg {
  margin-left: 0.8rem;
  color: var(--dark-blue-500);
  transition: all .2s linear;
}

.explore-button:hover{
  transform: scale(1.2);
}

.explore-button:hover svg{
  rotate: 90deg;
}

.animation{
  transition: all .2s linear;
}

#logo{
  height: 50px;
}

.weAre{
  width:100%;
  display:flex;
  justify-content: end;
  margin: 0;
}

.weAre p.right{
  font-size: 2.0rem;
  margin: 0.5rem 3.6rem 0.5rem 0;
  margin-right: 3.6rem;
  color: var(--dark-blue-500);
}

/* Main page styling end */


/* Footer Section */
footer{
  margin-top: 2rem;
  width: 100%;
  padding: 3rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Color of background */

footer.grey{
  color: var(--dark-blue-500);
  background-color: var(--grey-100);
}

footer.blue{
  color: var(--grey-100);
  background-color: var(--dark-blue-500);
}

.footer-text-logo{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 1rem;
}

.footer-text-logo img{
  width:200px;
}

.footer-text{
  width: 85%;
}

.footer-text p {
  color: var(--grey-100);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 2rem;
}

hr.lt-blue{
  border-top: 1px solid var(--lt-blue-100);
  width: 80%;
}

.footer-navigation{
  padding: 0 2rem;
  margin: 0;
  text-align: center;
}

footer ul.footer-navigation li{
  margin: 0 0 0.5em;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 0px 1em;
  border-right: 1px solid var(--grey-100);
  list-style: none;
  transition: all 0.2s ease-in;
}

footer ul.footer-navigation li:last-child{
  border-right: none;
}

.footer-text a:hover, footer ul.footer-navigation li:hover{
  color: var(--lt-blue-100);
}


/* Animation - keyframes */

/* Fade-in animation for underline used in navigation */

@keyframes fadeUnderlineIn {
	100% {
		opacity: 1;
	}
}

/* Media Queries */


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  section.hero{
    margin: 1rem 2rem;
    width: 95%;
  }
  button.btn-1 {
    bottom: 1rem;
    margin-right: 1rem;
    padding: 0.4rem 0.5rem;
  }
  .explore-button{
    font-size: 1.4rem;
  }
  .weAre p.right {
    font-size: 1.6rem;
    margin: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 850px){
  #main_nav a{
    display: flex;
    justify-content: center;
  }
  header .wc-logo{
    min-width: 200px;
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  footer h3{
    font-size: calc(1.2rem + 0.5vw);
  }
  .footer-right > .menu-nav{
    gap: 0.5rem;
  }
}

@media (prefers-reduced-motion) {
  *, *::before, *::after {
    animation-duration: 0s !important;
    /* additional recommendation */
    transition: none !important;
    scroll-behavior: auto !important;
  }
}



/* Testimonials Section */

.testimonial-container{
  color: var(--dark-blue-500);
  background-color: var(--grey-200);
  border-radius: 1rem;
  margin: 1.2rem auto;
  padding: 2.2rem 4rem;
  max-width: 80vh;
  position: relative;
  box-shadow: 0 0 0.1rem rgb(76, 66, 76, 0.5);
}

.fa-quote{
  color: rgba(26,54,81, 0.6);
  font-size: 1.6rem;
  position: absolute;
  top: 50px;
}

.fa-quote-right{
  left: 30px;
}

.fa-quote-left{
  right: 30px;
}

.testimonial{
  line-height: 1.6;
  text-align: justify;
  padding: 1rem 0.5rem;
}

.user{
  display: flex;
  align-items: center;
}

.user .user-image{
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  object-fit: cover;
}

.user .user-details{
  margin-left: 1rem;
}

.user .username{
  margin: 1rem;
  font-size: 1.2rem;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
  font-size: 1.4rem;
}


.progress-bar {
  background-color:var(--teal);
  height: 3px;
  width: 100%;
  /* Box will change every 10 sec */
  animation: grow 10s linear infinite;
  /* Positions the animation to start from left */
  transform-origin: left;
}

@keyframes grow{
  0% {
    transform: scaleX(0);
  }
}

@media(max-width: 768px){
  .fa-quote {
    display: none;
  }
  .testimonial-container{
    max-width: 50vh;
    padding: 1rem 3rem;
  }
  .user .role{
    margin: 2px 0;
  }
  .testimonial{
    line-height: 1.8rem;
    text-align: justify;
  }
}
